body  {
  background-color: #dedede;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: -0.3px;
}

h1 {
  font-size: 12rem;
  line-height: 11.2rem;
  letter-spacing: -0.72rem;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: -0.1rem;
  font-weight: 400;
}

h3 {
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: -0.1rem;
  font-weight: 400;
}

a {
  color: #45a15c;
  text-decoration: none;
}

a:visited {
  color: #45a15c;
}

a:hover {
  color: hotpink;
}

.top-arrow{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  font-size: 3rem;
  padding: 30px;

}
.top-arrow a {
  color: black;
}

.top-arrow a:visited {
  color: black;
}

.top-arrow a:hover {
  color: black;
}

.section {
  margin: -1vw !important;
  padding: 3vw;
  padding-bottom: 8vw;
}

#header {
  margin-top: -125px !important;
}

.title{
text-transform: uppercase;
}

.subtitle{
text-transform: uppercase;
}

.bio {
  font-size: 1.4rem;
  line-height: 2rem;
}

.caption {
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
  padding: 5px;
}

.piece {
  margin: 0 0 40px 0;
}

.artimage {
  width: 100%;
}

.stacked {
  display: block;
}

.art-2-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.art-2-col-img  { flex-basis: 48.5%; }

.art-center-small {
  display: flex;
  justify-content: center;
}

.art-center-small-img { flex-basis: 50%; }

.art-2-col-aligned {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.art-2-col-aligned-img { flex-basis: 30%; }

.art-3-col-aligned {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.art-3-col-aligned-img { flex-basis: 30%; }

.alevtina-quad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.alevtina-quad-1 { flex-basis: 52.5%; }
.alevtina-quad-2 { flex-basis: 46%; }
.alevtina-quad-3 { flex-basis: 49.25%; }
.alevtina-quad-4 { flex-basis: 49.25%; }

.alevtina-2-col-aligned {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.alevtina-2-col-aligned-r { flex-basis: 50%; }
.alevtina-2-col-aligned-l { flex-basis: 25%; }

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.text-2-col {
  display: flex;
  flex-wrap: wrap;
  margin: -50px 0 0 -50px;
  width: calc(100% + 50px);
}

.text-2-col > * {
  margin: 50px 0 0 50px;
}

.text-2-col-left {
  flex: 30%;
}

.text-2-col-right {
  flex: 30%;
}

#masha-svyatogor {
  background-color: #ff7b00;
}

#rainbow-mary {
  background-color: #f2e41e;
}

#cecylia-malik {
  background-color: #7c1aca;
}

#andi-gv {
  background-color: #1a6fca;
}

#rufina-bazlova {
  background-color: #ca1a1a;
}

#alevtyna-kakhidze {
  background-color: #45a15c;
}

#footer {
  margin-bottom: -125px;
}

.footer-logo img {
  width: 25vw;
}



/* -------------------- MEDIA QUERIES -------------------- */

@media only screen and (max-width: 768px) {

  .alevtina-quad {
    display: block;
  }

  .alevtina-2-col-aligned {
    display: block;
  }

  .art-2-col {
    display: block;
  }

  .art-center-small {
    display: block;
  }

  .art-2-col-aligned {
    display: block;
    margin-top: 0px;
  }

  .art-3-col-aligned {
    display: block;
  }

  .text-2-col {
  }

  .text-2-col-left, .text-2-col-right {
    flex: 100%;
  }

  .footer-logo img {
    width: 50vw;
  }

}
